.tunnels-preview {
  &_header {
    display: flex;
    justify-content: space-between;
  }

  &_tile {
    display: inline-block;
    width: 50%;

    h1, h2 { margin: 0; }

    h1 {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
    }

    h2 {
      font-size: 14px;
    }

    &-inner {
      margin: 10px;
      padding: 10px;
      background: white;
      border-radius: 3px;
      height: 300px;
      transition: 0.5s;
      border: 1px solid #ddd;

      &_header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }

      &_chart {
        position: relative;
        width: 90%;
        height: 200px;
        margin: 15px auto;
        canvas { width: 100%; }
      }
    }
  }
}

.filter-list {
  display: inline-block;
  padding: 10px;
}

.single-chart {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;

  &_inner {
    width: 100%;
    background: white;
    padding: 25px;
  }

  &_chart {
    width: 100%;
  }
}

.time-filter{
  label{
    padding: 5px;
    input {
      margin: 10px;
      margin-top: 20px;
      border: none;
      border-bottom: solid 1px #C9C9C9;
    }
  }
}
