.register {
  width: 500px;
  align-self: center;
  margin: auto auto;
  padding: 20px 0 50px;
  font-size: 1rem;

  .error-message {
    padding: 1em;
    font-size: 1em;
    border: 3px solid red;
    text-align: center;
    color: red;
    font-weight: bold;
  }

  h1 {
    margin: 0;
    border-bottom: 1px solid #ddd;
    font-size: 2em;
    line-height: 2.5;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }

  label, input { display: block; }
  label {
    position: relative;
    padding-top: 5px;
    height: 5em;

    span {
      font-size: 1em;
      font-weight: 300;
      line-height: 2;
    }

    input {
      position: absolute;
      top: 3.5em;
      width: 100%;
      padding: 0 15px;
      border: 1px solid #d3d3d3;
      height: 2.5em;
      outline: none;
      transition: 0.3s;
      transform-origin: 0 50%;
      transform: translateY(-50%);
      background: white;
      color: #333;
      font-size: 1em;
      line-height: 2.5em;
      box-shadow: inset 0px 2px 1px 0px #f3f3f3;
      &:focus {
        // box-shadow: 0px 2px 5px 1px rgba(204, 221, 238, 0.5);
        height: 3em;
      }
    }
  }

  .btn.btn-info {
    display: block;
    margin: 15px auto;
    width: 5em;
    height: 5em;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 1.125em;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 0 3px 3px 0 #ddd;
    &:hover, &:focus {
      box-shadow: 0 3px 7px 0 #ccc;
    }
  }
}