.landing-page {
  .hero {
    display: flex;
    background: #a1a1ae;
    max-height: 400px;
    align-items: center;
    overflow: hidden;

    h1 { 
      margin: 0 auto;
      font-family: 'Titillium Web', sans-serif;
      font-size: 48px;
      font-weight: bold;
      position: absolute;
      z-index: 10;
      color: white;
      transform: translateX(-50%);
      left:50%;
    }

    video {
      transform-origin: bottom;
      transform: translateY(-25%);
      width: 100%;
      min-height: 400px;
    }
  }

  .welcome {
      h1 { text-align: center; }
    }
}