.product-preview {

  &_tile {
    display: inline-block;
    width: 50%;
    

    &-inner {
      margin: 10px;
      padding: 10px;
      background: white;
      border: 1px solid #ddd;
      height: 250px;

      &_photo {
  
        float: right;
            img {
                width: 200px;
                height: 200px;
              }
      }
      &_info {
        
        float: left;
      }

    }
  }
}

.css_jest_glupi {
  img {
    width: 250px;
    height: 250px;
    border: solid 3px #E8E8E7;
  }
}