.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;

  .app-content {
    display: flex;
    flex-direction: row;
    flex: 1;

    & > .side-bar+* {
      flex: 1;
    }
  }
}


.header-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
  font-family: 'Titillium Web', sans-serif;

  a { cursor: pointer; }

  .logo {
    display: inline-block;
    padding-left: 50px;

    .active{

      &:after {
        content: "\f015";
        display: inline-block;
        font: normal normal normal 1.5rem FontAwesome;
        margin-top: -6px;
        vertical-align: middle;
        padding-left: 10px;
        color: #eee;
        transition: 0.3s;
        opacity: 1;
      }
    }

    a {
      position: relative;
      font-size: 36px;
      color: #333;
      &:hover { text-decoration: none; }
      &:before {
        content: "";
        background: url('/images/logo.svg');
        display: block;
        position: absolute;
        top: 7px; left: -45px;
        width: 45px; height: 37px;
      }
      &:after {
        content: "";
        opacity: 0;
      }
    }
  }

  &_main-navigation {
    & > ul { display: inline-block; }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
        display: inline-block;
        a {
          display: inline-block;
          color: #333;
          text-align: center;
          padding: 14px 28px;
          text-decoration: none;
          font-size: 18px;
          transition: 0.3s;

          &.active {
            color: red;
          }
          &:hover {
            background-color: #dedede;
          }
        }
      }
  }

  &.guest {
    padding: 10px 20px;
  }
}

.wrapper {
  flex: 1;
  background: #f2f2f1;

  & > *:not(.side-bar):not(.front-page) {
    max-width: 1400px;
    width: 100%;
    margin: 50px auto;
    padding: 0 30px;
  }
}

.side-bar {
  width: 230px;
  background: #22282f;
  overflow: auto;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 2;
    color: rgba(255,255,255,0.2);
    font-weight: bold;
    text-transform: uppercase; 
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      a {
        display: block;
        height: 100%;
        width: 100%;
        padding: 15px 30px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        color: white;
        font-size: 16px;
        font-weight: bold;
        transition: 0.3s;

        &:hover, &:focus, &.active {
          opacity: 0.7;
          text-decoration: none; 
          background: rgba(0,0,0,0.2);
        }
      }
    }

  }
}

.footer-bar {
  position: relative;
  margin-top: auto;
  // border-top: 1px solid #eee;
  padding: 5px 20px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .copy-rights {
    line-height: 20px;
  }

  .change-language_select {
    padding: 2px;
    border-radius: 0;
    height: 30px;
  }
}
