<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>React App</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
  <div id="app"><%- markup -%></div>
  <script src="index.js"></script>
</body>

</html>