html, body { font-size: 16px; }

.not-found {
  display: flex;
  max-width: 1040px;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 56px;
    font-weight: bolder;
  }

  .logo-404 {
    width: 100px;
  }
}

a.icon-link {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 14px;
  line-height: 30px;
  padding: 0 8px;
  border-radius: 3px;
  transition: 0.1s;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background: #d1d1d1;
  }
}

.tooltip-title {
  position: relative;
  &:after {
    content: attr(data-title);
    position: absolute;
    left: 50%;
    bottom: -5%;
    transition: 0.3s;
    transform: translate(-50%, 50%);
    padding: 5px 15px;
    font-size: 11px;
    line-height: 1;
    border-radius: 15px;
    background: #222;
    color: white;
    z-index: 100;
    opacity: 0;
    pointer-events: none !important;
  }
  &:hover:after {
    opacity: 1;
    display: block;
    transform: translate(-50%, 100%);
  }
}